/* Header Style */

.header {
    display: flex;
}

.title {
    margin-left: auto;
}

.github {
    margin-left: auto;
}

/* Main Style */

.main {
    display: flex;
    justify-content: center;
}

.list {
    padding: 0.5em;
    border: 1px solid black;
    display: none;
}

td {
    padding-bottom: 0.2em;
    padding-right: 0.5em;
}

th {
    text-decoration: underline;
    padding-bottom: 1em;
}

.create {
    padding: 1em;
}

.listinput {
    padding-top: 1em;
    display: none;
}

.error {
    color: red;
}

.delete {
    color: red;
    visibility: hidden;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.checkbox {
    cursor: pointer;
}

#filter {
    text-align: center;
}

.borderrow {
    border-bottom: 1px solid black;
    height: 0px;
    padding-top: 0.5em;
}

.bottomrow td {
    padding-top: 0.5em;
}
